body {
    display: flex;
    height: 98vh;
}

nav {
    display: flex;
    flex-direction: column;
    flex-basis: 10%;
    background-color: rgb(180, 180, 180);
    border: 2px solid black;
    margin: 1px;
    justify-content: space-around;
}   

nav article img {
    width: 100%;
    height: 100%;
}

.lista {
    border: 2px solid black;
    background-color: rgb(250, 250, 250);
    height: 13%;
    width: 75%;
    margin: 12.5% 12.5%;
}

#image {
    flex-basis: 50%;
    border: 2px solid black;
    margin: 1px;
}

#image img {
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    border: 2px solid black;
    margin: 1px;
}

#title {
    flex-basis: 45%;
    border: 2px solid black;
    margin: 1px;
}

#title h2 {
    margin: 20px;
    font-family: 'Amazon Ember', Arial, sans-serif;
    font-weight: normal;
}

#title h3 {
    color: rgb(80, 185, 255);
    margin: 20px;
}

#description {
    flex-basis: 35%;
    border: 2px solid black;
    margin: 1px;
    background-color: rgb(180, 180, 180);
}

#description h2 {
    margin: 20px;
    font-family: 'Amazon Ember', Arial, sans-serif;
    font-weight: normal;
}

#description h3 {
    color: rgb(80, 185, 255);
    margin: 20px;
}

#description h4 {
    margin: 20px;
}

#options {
    flex-basis: 20%;
    display: flex;
    margin: 1px;
    justify-content: space-evenly;
}

.options {
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    flex-basis: 20%;
    height: 75%;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
}

.options img {
    display: block;
    margin: 0 auto;
}

.options hr {
    border: none;
    border-top: 2px dashed black;
}


/* Mobile */
@media (max-width: 480px) {

    
}