#contenedor {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 6fr 1fr;
    gap: 5px;
}

header {
    background-color: aquamarine;
    grid-column: 1 / span 3;
}

nav {
    background-color:darkcyan
}

main {
    background-color: hotpink;
}

aside {
    background-color: darkorchid;
}

footer {
    background-color: brown;
    grid-column: 1 / span 3;
}

#contenedor .items {
    padding-top: 7px;
    padding-left: 7px;
}

/* Mobile */
@media (max-width: 600px) {
    #contenedor {
        grid-template-rows: 1fr 1fr 2fr 3fr 1fr;
    }

    nav {
        grid-column: 1 / 4;
    }

    main {
        grid-column: 1 / 4;
    }

    aside {
        grid-column: 1 / 4;
    }
}

/* Tablet */
@media (min-width: 600px) and (max-width: 1280px){
    #contenedor {
        grid-template-columns: 1fr 2fr 2fr;
        grid-template-rows: 1fr 3fr 3fr 1fr;
    }

    nav {
        grid-row: 2 / span 2;
    }

    main {
        grid-column: 2 / span 2;
    }

    aside {
        grid-column: 2 / span 2;
    }
}