body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
  
  header, footer {
    width: 100%;
    background: rgb(17, 17, 17);
    padding: 20px;
  }
  
  div {
    display: flex;
    flex: 1;
    overflow: hidden;
  }
  
  nav {
    width: 100px;
    background: rgb(17, 17, 17);
    padding: 20px;
  }
  
  main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }
  
  header h1, section h2 {
    color: rgb(230, 0, 35);
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 8px;
    text-decoration: none;
    border-radius: 10px;
  }
  
  nav a:hover {
    background: rgb(230, 0, 35);
  }
  
  article, aside {
    background: rgb(17, 17, 17);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
section, article, aside {
    height: 20%;
}

li {
    text-align: center;
}