body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
  color: rgb(255, 255, 255)
}

header {
  width: 100%;
  background: rgb(46, 114, 0);
  padding: 20px;
}

footer {
  width: 100%;
  background: rgb(81, 92, 255);
  padding: 20px;
}

nav {
  background-color: rgb(255, 0, 221);
  height: 90.5vh;
  width: 5%;
  padding: 20px;
  float: left;
  padding: 3%;
}

main {
  background-color: rgb(255, 209, 111);
  width: 100%;
  height: 100vh;
  margin: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: rgb(255, 255, 255);
  padding: 5%;
  text-decoration: none;
  border-radius: 10px;
}

article {
  background: rgb(0, 204, 255);
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
}

li {
  text-align: center;
  margin-bottom: 4vh;
  margin-top: 4vh;
} 