body {
    border: 1px solid black;
    width: 100vh;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
}

.colorMasOscuro {
    background-color: rgb(255, 193, 172);
    padding: 15px;
    border: 1px solid black;
    margin: 5px;
}

section {
    padding: 15px;
}

nav, header {
    display: inline-block;
    width: 45%;
    text-align: center;
    vertical-align: middle;
}

.colorMasClaro {
    text-align: center;
}

footer {
    text-align: center;
}

article {
    display: inline-block;
    width: 48%;
    vertical-align: middle;
}

#izquierda {
    border-right: 1px solid black;
}

#derecha {
    text-align: center;
}

button {
    border: 2px solid black;
    border-radius: 5px;
    width: 50%;
    height: 50px;
}

button:hover {
    background-color: crimson;
    color: white;
}