body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#contenedor {
    display: grid;
    width: 100%;
    height: 100%;
    --ancho-columna: 50px;
    grid-template-columns: var(--ancho-columna) auto;
    transition: grid-template-columns 0.5s ease-out;
}

#contenedor:has(#left:hover) {
    --ancho-columna: 40%;
}

#left {
    background-color: pink;
}

#right {
    background-color: blue;
}