body {
    margin: 0;
    background-color: rgb(0, 0, 0);
}

* {
    box-sizing: border-box;
}


p {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 4px solid rgb(255, 255, 255);
    width: calc(100vw - 3vw);
    color: white;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
    position: relative;
    z-index: 10000;
}

header h1 {
    justify-self: flex-start;
    margin: 0;
}

header nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.button {
    background-color: gold;
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}

.cards {
    display: flex;
    height: 65vh;
    justify-content: space-evenly;
    width: calc(100vw - 3vw);
    margin-top: 7vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: white;
}

.film {
    display: flex;
    flex-direction: column;
    flex-basis: 18%;
    text-align: center;
    align-items: center;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;

    transition: flex-basis 0.5s ease-out,
        transform 0.5s ease-out,
        box-shadow 0.5s ease-out,
        border 0.5s ease-out;
}

.film .hero {
    width: 100%;
    margin: 0;
    border-bottom: 3px solid rgb(255, 255, 255);
    overflow: hidden;
}

.film img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.film h3 {
    margin-left: 5%;
    margin-right: 5%;
}

.informacion {
    opacity: 0;
    width: 0;
    height: 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    margin-top: 5vh;
    background-color: #000000;
    border-top: 3px solid #FFD700;
}

.autor {
    margin: 0;
    font-size: 1em;
    color: #ffffff;
    margin-bottom: 10px;
}

#rs {
    display: flex;
    gap: 20px;
}

#rs i {
    color: gold;
    font-size: 1.8em;
    cursor: pointer;
    transition: color 0.3s ease-out, transform 0.3s ease-out;
}

/*Animación*/

.film:hover {
    flex-basis: 45%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 5px;
    box-shadow:
        0 0 40px rgba(255, 215, 0, 0.95),
        0 0 80px rgba(255, 215, 0, 0.8),
        0 0 120px rgba(255, 215, 0, 0.6),
        0 0 200px rgba(255, 215, 0, 0.4);

    background-color: black;
    border: 3px solid #DC143C;
    color: gold;
    transform: scale(1.1);
    z-index: 10;
    padding: 7px;
}

.film:hover h3 {
    grid-column: 5 / span 5;
    grid-row: 1 / span 1;
}

.film:hover .hero {
    grid-column: 1 / span 4;
    grid-row: 1 / span 10;
    border-bottom: none;
}

.film:hover .informacion {
    height: 100%;
    width: 100%;
    grid-column: 5 / span 5;
    grid-row: 2 / span 8;
    opacity: 1;
    padding: 15px;
    font-size: 1.1em;
    overflow-y: auto;
}

#rs i:hover {
    color: #ff0000;
    transform: scale(1.1) rotate(5deg); /* 🚀 Rotación de 5 grados al hacer hover */
}