body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 4px solid black;
    width: calc(100vw - 3vw);    
    margin: 0 auto;
}

header h1 {
    justify-self: flex-start;
    margin: 0;
}

header nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.button {
    background-color: #e50914;
    color: white;
    padding: 10px 25px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}

.cards {
    display: flex;
    height: 62vh;
    justify-content: space-evenly;
    width: calc(100vw - 3vw);    
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
}

.film {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    text-align: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
    justify-content: space-evenly;
}

.film .hero {
    flex-basis: 95%;
    width: 100%;
    margin: 0;
    border-bottom: 3px solid black;
    overflow: hidden;
}

.film img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.film h3 {
    margin-left: 20px;
    margin-right: 20px;
}