body {
    margin: 0; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 4px solid black;
}

header h1 {
    justify-self: flex-start;
    margin: 0;
}

header nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

#carousel {
    height: 70vh;
    width: 96vw;
    border: 2px solid black;
    margin: 2vh;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    background-image: url(KNY.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    border-radius: 15px;
}

#carousel h1 {
    grid-column: 2 / 3;
    justify-self: center;
    align-self: end;
    font-size: 7vh;
    margin-bottom: 0;
    position: relative;
    text-shadow: 2px 2px 5px black;
}

#carousel #subtitle {
    grid-column: 2 / 3;
    justify-self: center;
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#carousel #subtitle h3 {
    margin: 5px 0;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
}

#carousel #stars {
    color: gold;
    font-size: 20px;
    margin: 10px;
}

.button {
    background-color: #e50914;
    color: white;
    padding: 10px 25px;
    border-radius: 50px;
    font-weight: bold;
}

#carousel .button {
    margin: 10px;
}

#cards {
    display: flex;
    height: 30vh;
    width: 96vw;
    justify-content: space-evenly;
}

.film {
    display: flex;
    flex-direction: column;
    flex-basis: 17%;
    text-align: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
    justify-content: space-evenly;
    margin: 2vh;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}