body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 4px solid black;
    width: calc(100vw - 3vw);    
    margin: 0 auto;
}

header h1 {
    justify-self: flex-start;
    margin: 0;
}

header nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.button {
    background-color: #e50914;
    color: white;
    padding: 10px 25px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}

#carousel {
    position: relative;
    height: 70vh;
    width: 96vw;
    border: 2px solid black;
    margin: 2vh;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    background-image: url(KNY.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    border-radius: 15px;
}

#trailer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: none;
}

#ocultarTrailer {
    position: absolute; 
    top: 10%;
    right: 0.8%;
    z-index: 6;
    color: white;
    font-size: 300%;
    padding: 5px 10px;
    cursor: pointer;
    display: none;
}

#carousel h1 {
    grid-column: 2 / 3;
    justify-self: center;
    align-self: end;
    font-size: 7vh;
    margin-bottom: 0;
    position: relative;
    text-shadow: 2px 2px 5px black;
}

#carousel #stars {
    color: gold;
    font-size: 20px;
    margin: 10px;
}

#carousel #subtitle {
    grid-column: 2 / 3;
    justify-self: center;
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#carousel #subtitle h3 {
    margin: 5px 0;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
}

#carousel .button {
    margin: 10px;
}

#cards {
    display: flex;
    height: 58vh;
    width: 96vw;
    justify-content: space-evenly;
    margin: 2vh;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.film {
    display: flex;
    flex-direction: column;
    flex-basis: 18%;
    text-align: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
    justify-content: space-between;
}

.film .hero {
    flex-basis: 85%;
    width: 100%;
    margin: 0;
    border-bottom: 3px solid black;
    overflow: hidden;
}

.film img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.film h3 {
    margin-left: 20px;
    margin-right: 20px;
}

#trailer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}